.profile {
    background: #fff;
    border-radius: 20px;
    height: 50rem;
    width: 26rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
  textarea {
      resize: none;
      outline: none;
      background: #272727;
      overflow: auto;
      color: #fff;
      border-radius: 2px;
  }